@charset "UTF-8";
body {
  margin: 0;
  background: #e5e5e5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.btn {
  height: 32px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
  background: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 8px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
}

.chat__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}

.chat__user-name {
  width: 178px;
  height: 32px;
  padding-left: 7px;
  border: 1px solid #000000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #7c7c7c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.chat__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: block;
  height: 436px;
  margin-bottom: 7px;
  border: 1px solid #000000;
  overflow-y: auto;
}

.chat__messages {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.chat__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.chat__form-input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 32px;
  padding-left: 7px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #7c7c7c;
}

.chat__form-button {
  -ms-flex-preferred-size: 51px;
      flex-basis: 51px;
  margin-left: 8px;
}

.chat-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 265px;
  padding: 5px 5px;
  border-radius: 7px;
  margin-bottom: 5px;
}

.chat-message:first-child {
  margin-top: 5px;
}

.chat-message--outgoing {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 5px;
  margin-left: 15px;
  background: greenyellow;
}

.chat-message--incoming {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 5px;
  margin-right: 15px;
  background: #ccc;
}

.chat-message__status {
  text-align: end;
  font-size: 12px;
  color: skyblue;
  margin-bottom: 5px;
}

.chat-message__name {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-right: 4px;
}

.chat-message__text {
  display: inline-block;
  max-width: 265px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin-bottom: 3px;
}

.chat-message__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 12px;
}

@media screen and (min-width: 1024px) {
  .chat {
    width: 320px;
    height: 533px;
    margin-top: 20px;
  }
}

.account,
.authorization,
.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account__popup,
.authorization__popup,
.settings__popup {
  min-height: 319px;
}

.settings__popup {
  min-height: 319px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #535353;
}

.popup {
  position: relative;
  width: 273px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 16px;
  padding-right: 14px;
  padding-bottom: 17px;
  padding-left: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: #ffffff;
}

.popup__title {
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.popup__form {
  width: 100%;
}

.popup__label {
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
}

.popup__input {
  width: 100%;
  height: 32px;
  padding-left: 8px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.popup__input--login {
  margin-bottom: 8px;
}

.popup__input--password {
  margin-bottom: 16px;
}

.popup__input--setting {
  width: auto;
  display: inline-block;
}

.popup__button {
  display: inline-block;
  padding: 6px 8px;
  margin-bottom: 32px;
  line-height: 19px;
  background: #ffffff;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.popup__link {
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.popup__btn-close {
  width: 0;
  height: 0;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.popup__btn-close::after, .popup__btn-close::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background: #000000;
  opacity: 0.45;
}

.popup__btn-close::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__btn-close::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.settings__popup .popup__title {
  margin-bottom: 16px;
}

.hide {
  display: none;
}

::-webkit-scrollbar {
  /* chrome based */
  width: 0px;
  /* ширина scrollbar'a */
  background: transparent;
  /* опционально */
}

html {
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
}
/*# sourceMappingURL=main.css.map */